Repository FIT-sakitsu/2019b, pull requests merged in 2019-10, with the labels that each got.

#7 第一回授業課題提出
  ex01/t17373ts/ex01-1.css
  ex01/t17373ts/ex01-1.html
Labels: ex01

#10 第01回授業課題提出
  ex01/ex01/t19534yt/ex01-1.css
  ex01/ex01/t19534yt/ex01-1.html
Labels: ex01

#13 第01回授業課題提出
  ex01/t19686nh/ex01-1.css
  ex01/t19686nh/ex01-1.html
Labels: ex01

#19 第01回授業課題提出
  ex01/s19850my/ex01-1.css
  ex01/s19850my/ex01-1.html
Labels: ex01

#11 第一回課題
  ex01/t19644sh/ex01-1.css
  ex01/t19644sh/ex01-1.html
Labels: ex01

#9 ex01授業課題
  ex01/s19723hm/ex1-1.html
  ex01/s19723hm/ex1-2.css
  ex01/s19723hm/ex1-2.html
Labels: ex01

#18 第01回授業課題提出
  ex01/s19028da/ex01-1.css
  ex01/s19028da/ex01-1.html
Labels: ex01

#25 第二回授業課題を提出
  ex02/t09415is/ex02-1.html
  ex02/t09415is/ex02-2.html
  ex02/t09415is/ex02-2.js
  ex02/t09415is/ex02-3.html
  ex02/t09415is/ex02-3.js
Labels: ex02

#28 第2回課題提出
  ex02/t19648jh/ex02-1.html
  ex02/t19648jh/ex02-2.html
  ex02/t19648jh/ex02-2.js
  ex02/t19648jh/ex02-3.html
  ex02/t19648jh/ex02-3.js
Labels: ex02

#26 第02回課題提出
  ex02/t19544mn/ex2-1.html
  ex02/t19544mn/ex2-2.html
  ex02/t19544mn/ex2-2.js
  ex02/t19544mn/ex2-3.html
  ex02/t19544mn/ex2-3.js
Labels: ex02

#17 第01回授業課題提出
  ex01/t19544mn/ex01-1.html
  ex01/t19544mn/ex01-2.css
  ex01/t19544mn/ex01-2.html
Labels: ex01

#42 第3回課題提出
  ex03/t19544mn/ex3-1.html
  ex03/t19544mn/ex3-1.js
  ex03/t19544mn/ex3-2.html
  ex03/t19544mn/ex3-2.js
  ex03/t19544mn/ex3-3.html
  ex03/t19544mn/ex3-3.js
  ex03/t19544mn/ex3-4.html
  ex03/t19544mn/ex3-4.js
Labels: ex03

#14 9/24の課題提出
  ex01/t19648jh/ex01-1.css
  ex01/t19648jh/ex01-1.html
Labels: ex01

#44 第３回授業課題を提出
  ex02/t19534yt/ex02-1.html
  ex03/t19534yt/ex03-1.html
  ex03/t19534yt/ex03-1.js
  ex03/t19534yt/ex03-2.html
  ex03/t19534yt/ex03-2.js
  ex03/t19534yt/ex03-3.html
  ex03/t19534yt/ex03-3.js
  ex03/t19534yt/ex03-4.html
  ex03/t19534yt/ex03-4.js
Labels: ex03

#41 第三回課題
  ex02/t09415is/dummy.txt
  ex03/t19300mk/ex03-1.html
  ex03/t19300mk/ex03-1.js
  ex03/t19300mk/ex03-2.html
  ex03/t19300mk/ex03-2.js
  ex03/t19300mk/ex03-3.html
  ex03/t19300mk/ex03-3.js
  ex03/t19300mk/ex03-4.html
  ex03/t19300mk/ex03-4.js
Labels: ex03

#55 第4回課題提出
  ex04/t19544mn/ex4-1.html
  ex04/t19544mn/ex4-1.js
  ex04/t19544mn/ex4-2.html
  ex04/t19544mn/ex4-2.js
  ex04/t19544mn/ex4-3.html
  ex04/t19544mn/ex4-3.js
  ex04/t19544mn/ex4-4.html
  ex04/t19544mn/ex4-4.js
Labels: ex04

#61 第4回授業課題の提出
  ex04/ex04-1.html
  ex04/ex04-1.js
  ex04/ex04-2.html
  ex04/ex04-2.js
  ex04/ex04-3.html
  ex04/ex04-3.js
  ex04/ex04-4.html
  ex04/ex04-4.js
Labels: ex04

#64 ex04を作成
  ex04/t17373ts/ex04-1.html
  ex04/t17373ts/ex04-1.js
  ex04/t17373ts/ex04-2.html
  ex04/t17373ts/ex04-2.js
  ex04/t17373ts/ex04-3.html
  ex04/t17373ts/ex04-3.js
Labels: ex04

#59 第4回課題
  ex03/map.html
  ex04/t19300mk/ex04-1.html
  ex04/t19300mk/ex04-1.js
  ex04/t19300mk/ex04-2.html
  ex04/t19300mk/ex04-2.js
  ex04/t19300mk/ex04-3.html
  ex04/t19300mk/ex04-3.js
  ex04/t19300mk/ex04-4.html
  ex04/t19300mk/ex04-4.js
Labels: ex04

#56 第4回課題
  ex04/t19648jh/ex04-01.html
  ex04/t19648jh/ex04-01.js
  ex04/t19648jh/ex04-02.html
  ex04/t19648jh/ex04-02.js
  ex04/t19648jh/ex04-03.html
  ex04/t19648jh/ex04-03.js
  ex04/t19648jh/ex04-04.html
  ex04/t19648jh/ex04-04.js
Labels: ex04

#57 第４回課題
  ex04/t19644sh/ex04-1.html
  ex04/t19644sh/ex04-1.js
  ex04/t19644sh/ex04-2.html
  ex04/t19644sh/ex04-2.js
  ex04/t19644sh/ex04-3.html
  ex04/t19644sh/ex04-3.js
  ex04/t19644sh/ex04-4.html
  ex04/t19644sh/ex04-4.js
Labels: ex04

#60 第４回課題
  ex04-1.html
  ex04-1.js
  ex04-2.html
  ex04-2.js
  ex04-3.html
  ex04-3.js
  ex04-4.html
  ex04-4.js
Labels: ex04

#47 第３回課題
  ex03-1.html
  ex03-1.js
  ex03-2.html
  ex03-2.js
  ex03-3.html
  ex03-3.js
  ex03-4.html
  ex03-4.js
  ex03/ex03-1.html
Labels: ex03

#58 第04回授業課題提出
  ex04/t19686nh/ex04-1.html
  ex04/t19686nh/ex04-1.js
  ex04/t19686nh/ex04-2.html
  ex04/t19686nh/ex04-2.js
  ex04/t19686nh/ex04-3.html
  ex04/t19686nh/ex04-3.js
  ex04/t19686nh/ex04-4.html
  ex04/t19686nh/ex04-4.js
Labels: ex04

#45 第03回授業課題提出
  ex03/t19686nh/ex03-1.html
  ex03/t19686nh/ex03-1.js
  ex03/t19686nh/ex03-2.html
  ex03/t19686nh/ex03-2.js
  ex03/t19686nh/ex03-3.html
  ex03/t19686nh/ex03-3.js
  ex03/t19686nh/ex03-4.html
  ex03/t19686nh/ex03-4.js
Labels: ex03
